In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Inta,RU,2021-10-24 04:42:16,66.0317,60.1659,21.65,95,49,13.47
1,1,Songjianghe,CN,2021-10-24 04:42:17,42.1859,127.4790,51.21,36,0,4.94
2,2,Albany,US,2021-10-24 04:37:56,42.6001,-73.9662,46.80,81,54,1.99
3,3,Flin Flon,CA,2021-10-24 04:33:47,54.7682,-101.8650,37.90,71,98,10.22
4,4,Hilo,US,2021-10-24 04:42:17,19.7297,-155.0900,76.73,79,40,3.44

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Hilo,US,2021-10-24 04:42:17,19.7297,-155.0900,76.73,79,40,3.44
5,5,Sabha,LY,2021-10-24 04:42:18,27.0377,14.4283,73.31,25,41,13.89
8,8,Sumbe,AO,2021-10-24 04:42:19,-11.2061,13.8437,74.75,79,99,1.54
10,10,Atuona,PF,2021-10-24 04:42:19,-9.8000,-139.0333,78.15,77,19,19.64
11,11,Butaritari,KI,2021-10-24 04:42:20,3.0707,172.7902,81.25,70,36,4.18
12,12,Saint Pete Beach,US,2021-10-24 04:42:20,27.7253,-82.7412,79.00,73,100,1.01
13,13,Rikitea,PF,2021-10-24 04:42:20,-23.1203,-134.9692,75.02,78,100,18.19
14,14,Majene,ID,2021-10-24 04:42:21,-3.5403,118.9707,86.25,64,25,6.53
17,17,Bambous Virieux,MU,2021-10-24 04:42:21,-20.3428,57.7575,79.21,78,40,13.80
18,18,Hithadhoo,MV,2021-10-24 04:42:22,-0.6000,73.0833,83.12,73,88,13.76

In [12]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
4               Hilo      US     76.73  19.7297 -155.0900
5              Sabha      LY     73.31  27.0377   14.4283
8              Sumbe      AO     74.75 -11.2061   13.8437
10            Atuona      PF     78.15  -9.8000 -139.0333
11        Butaritari      KI     81.25   3.0707  172.7902
12  Saint Pete Beach      US     79.00  27.7253  -82.7412
13           Rikitea      PF     75.02 -23.1203 -134.9692
14            Majene      ID     86.25  -3.5403  118.9707
17   Bambous Virieux      MU     79.21 -20.3428   57.7575
18         Hithadhoo      MV     83.12  -0.6000   73.0833

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Sabha,LY,73.31,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
8,Sumbe,AO,74.75,-11.2061,13.8437,Hotel Ritz Sumbe
10,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
11,Butaritari,KI,81.25,3.0707,172.7902,Isles Sunset Lodge
12,Saint Pete Beach,US,79.00,27.7253,-82.7412,Grand Plaza Hotel - St. Pete Beach
13,Rikitea,PF,75.02,-23.1203,-134.9692,People ThankYou
14,Majene,ID,86.25,-3.5403,118.9707,Kost Putri RABBANI
17,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
18,Hithadhoo,MV,83.12,-0.6000,73.0833,Scoop Guest House

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))